@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Nunito:ital,wght@0,600;0,900;1,400&family=Poppins:wght@200;400;500;600;700&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color: #ec1839;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Poppins" "sans-serif";
}
body {
  background: var(--bg-black-100);
}

/* Navbar Component Styling  */

.nav {
  display: flex;
  justify-content: space-between;
  background: var(--bg-black-900);
  padding: 15px;
  border-bottom: 1px solid var(--bg-black-50);
}
.nav .title h1 {
  cursor: pointer;
  color: var(--text-black-900);
  font-size: 30px;
}
.nav .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.nav .title .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--text-black-900);
  margin-right: 10px;
}
.nav_item {
  display: flex;
}
ul li {
  margin: 10px;
  color: var(--text-black-700);
  font-family: "Poppins", sans-serif;
}

/* About Movie Component  */

.movie_Container {
  flex: 1 1 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
}
.movie:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.02);
}
.movie {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 18%;
  padding: 10px 30px;
  margin: 8px;
  max-width: 18%;
}
.movie .movie_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie_img img {
  max-width: 100%;
  max-height: 80%;
}
.movie_name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.ratings {
  font-size: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--skin-color);
}

.btn button {
  padding: 5px 10px;
  background: var(--skin-color);
  color: white;
  border: none;
  outline: none;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  cursor: pointer;
}
.btn button:hover {
  background: black;
  color: #fdf9ff;
}

/* Book Movie Component  */

.bookMovie_container {
  padding: 2rem 4rem;
  margin-top: 40px;
  background: var(--bg-black-100);
  display: flex;
}
.bookMovie_container .img {
  flex: 0.4;
  margin-right: 20px;
}
.bookMovie_container .img img {
  max-width: 100%;
}

.bookMovie_container .movie_content .movie_name {
  color: var(--text-black-900);
  font-size: 20px;
  text-align: left;
}

.bookMovie_container .movie_content .summary h3 {
  margin: 20px 0;
  margin-top: 0;
  color: var(--text-black-900);
}
.bookMovie_container .movie_content .summary p {
  color: var(--text-black-700);
}
.bookMovie_container .movie_content {
  flex: 1.6;
  display: flex;
  flex-direction: column;
}

.book_btn button {
  padding: 10px 30px !important;
  border-radius: 5px;
  margin-top: 20px;
  position: absolute;
  font-size: 20px;
}
.book_btn button:hover {
  transform: scale(1.07);
}
.movie_ratings {
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.movie_ratings .icon i {
  margin-right: 4px;
  display: flex;
  color: #ec1839;
}
.bookMovie_container .movie_content .genres {
  width: 100px;
  padding: 0px 20px;
  padding-left: 0;
  margin: 3px 0;
  display: flex;
  /* border: 1px solid red; */
}
.bookMovie_container .movie_content .genres .genres_items:hover {
  background: var(--bg-black-900);
  border-radius: 10px;
}

.genres_items {
  /* border: 1px solid rebeccapurple; */
  padding: 0 10px;
  /* padding: 10px; */
}

.genres_items ul li {
  list-style-type: disc;
  /* display: inline-block; */
  /* display: flex; */
}
